/* line 3, C:/domains/Pogosov/sass/loader.sass */
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  margin: auto;
  z-index: 9999;
  background: #00c09e;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column; }

/* line 24, C:/domains/Pogosov/sass/loader.sass */
.busy-loader {
  width: 90px;
  height: 90px; }
  /* line 28, C:/domains/Pogosov/sass/loader.sass */
  .busy-loader .w-ball-wrapper {
    position: absolute;
    width: 86px;
    height: 86px;
    opacity: 0;
    -moz-transform: rotate(225deg);
    -moz-animation: orbit 4.4s infinite;
    -webkit-transform: rotate(225deg);
    -webkit-animation: orbit 4.4s infinite;
    -ms-transform: rotate(225deg);
    -ms-animation: orbit 4.4s infinite;
    -o-transform: rotate(225deg);
    -o-animation: orbit 4.4s infinite;
    transform: rotate(225deg);
    animation: orbit 4.4s infinite; }
    /* line 44, C:/domains/Pogosov/sass/loader.sass */
    .busy-loader .w-ball-wrapper .w-ball {
      position: absolute;
      width: 12px;
      height: 4px;
      background: #fff;
      top: 0px;
      left: 0px;
      border-radius: 11px;
      transform: rotate(140deg); }
  /* line 54, C:/domains/Pogosov/sass/loader.sass */
  .busy-loader .ball-1 {
    -moz-animation-delay: 0.96s;
    -webkit-animation-delay: 0.96s;
    -ms-animation-delay: 0.96s;
    -o-animation-delay: 0.96s;
    animation-delay: 0.96s; }
  /* line 61, C:/domains/Pogosov/sass/loader.sass */
  .busy-loader .ball-2 {
    -moz-animation-delay: 0.19s;
    -webkit-animation-delay: 0.19s;
    -ms-animation-delay: 0.19s;
    -o-animation-delay: 0.19s;
    animation-delay: 0.19s; }
  /* line 68, C:/domains/Pogosov/sass/loader.sass */
  .busy-loader .ball-3 {
    -moz-animation-delay: 0.38s;
    -webkit-animation-delay: 0.38s;
    -ms-animation-delay: 0.38s;
    -o-animation-delay: 0.38s;
    animation-delay: 0.38s; }
  /* line 75, C:/domains/Pogosov/sass/loader.sass */
  .busy-loader .ball-4 {
    -moz-animation-delay: 0.58s;
    -webkit-animation-delay: 0.58s;
    -ms-animation-delay: 0.58s;
    -o-animation-delay: 0.58s;
    animation-delay: 0.58s; }
  /* line 82, C:/domains/Pogosov/sass/loader.sass */
  .busy-loader .ball-5 {
    -moz-animation-delay: 0.77s;
    -webkit-animation-delay: 0.77s;
    -ms-animation-delay: 0.77s;
    -o-animation-delay: 0.77s;
    animation-delay: 0.77s; }

@-moz-keyframes orbit {
  /* line 90, C:/domains/Pogosov/sass/loader.sass */
  0% {
    opacity: 1;
    z-index: 99;
    -moz-transform: rotate(180deg);
    -moz-animation-timing-function: ease-out; }

  /* line 96, C:/domains/Pogosov/sass/loader.sass */
  7% {
    opacity: 1;
    -moz-transform: rotate(300deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 0%; }

  /* line 102, C:/domains/Pogosov/sass/loader.sass */
  30% {
    opacity: 1;
    -moz-transform: rotate(410deg);
    -moz-animation-timing-function: ease-in-out;
    -moz-origin: 7%; }

  /* line 108, C:/domains/Pogosov/sass/loader.sass */
  39% {
    opacity: 1;
    -moz-transform: rotate(645deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 30%; }

  /* line 114, C:/domains/Pogosov/sass/loader.sass */
  70% {
    opacity: 1;
    -moz-transform: rotate(770deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 39%; }

  /* line 120, C:/domains/Pogosov/sass/loader.sass */
  75% {
    opacity: 1;
    -moz-transform: rotate(900deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 70%; }

  /* line 126, C:/domains/Pogosov/sass/loader.sass */
  76% {
    opacity: 0;
    -moz-transform: rotate(900deg); }

  /* line 130, C:/domains/Pogosov/sass/loader.sass */
  100% {
    opacity: 0;
    -moz-transform: rotate(900deg); } }

@-webkit-keyframes orbit {
  /* line 135, C:/domains/Pogosov/sass/loader.sass */
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out; }

  /* line 141, C:/domains/Pogosov/sass/loader.sass */
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 0%; }

  /* line 147, C:/domains/Pogosov/sass/loader.sass */
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin: 7%; }

  /* line 153, C:/domains/Pogosov/sass/loader.sass */
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 30%; }

  /* line 159, C:/domains/Pogosov/sass/loader.sass */
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 39%; }

  /* line 165, C:/domains/Pogosov/sass/loader.sass */
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 70%; }

  /* line 171, C:/domains/Pogosov/sass/loader.sass */
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg); }

  /* line 175, C:/domains/Pogosov/sass/loader.sass */
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg); } }

@-ms-keyframes orbit {
  /* line 180, C:/domains/Pogosov/sass/loader.sass */
  0% {
    opacity: 1;
    z-index: 99;
    -ms-transform: rotate(180deg);
    -ms-animation-timing-function: ease-out; }

  /* line 186, C:/domains/Pogosov/sass/loader.sass */
  7% {
    opacity: 1;
    -ms-transform: rotate(300deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 0%; }

  /* line 192, C:/domains/Pogosov/sass/loader.sass */
  30% {
    opacity: 1;
    -ms-transform: rotate(410deg);
    -ms-animation-timing-function: ease-in-out;
    -ms-origin: 7%; }

  /* line 198, C:/domains/Pogosov/sass/loader.sass */
  39% {
    opacity: 1;
    -ms-transform: rotate(645deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 30%; }

  /* line 204, C:/domains/Pogosov/sass/loader.sass */
  70% {
    opacity: 1;
    -ms-transform: rotate(770deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 39%; }

  /* line 210, C:/domains/Pogosov/sass/loader.sass */
  75% {
    opacity: 1;
    -ms-transform: rotate(900deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 70%; }

  /* line 216, C:/domains/Pogosov/sass/loader.sass */
  76% {
    opacity: 0;
    -ms-transform: rotate(900deg); }

  /* line 220, C:/domains/Pogosov/sass/loader.sass */
  100% {
    opacity: 0;
    -ms-transform: rotate(900deg); } }

@-o-keyframes orbit {
  /* line 225, C:/domains/Pogosov/sass/loader.sass */
  0% {
    opacity: 1;
    z-index: 99;
    -o-transform: rotate(180deg);
    -o-animation-timing-function: ease-out; }

  /* line 231, C:/domains/Pogosov/sass/loader.sass */
  7% {
    opacity: 1;
    -o-transform: rotate(300deg);
    -o-animation-timing-function: linear;
    -o-origin: 0%; }

  /* line 237, C:/domains/Pogosov/sass/loader.sass */
  30% {
    opacity: 1;
    -o-transform: rotate(410deg);
    -o-animation-timing-function: ease-in-out;
    -o-origin: 7%; }

  /* line 243, C:/domains/Pogosov/sass/loader.sass */
  39% {
    opacity: 1;
    -o-transform: rotate(645deg);
    -o-animation-timing-function: linear;
    -o-origin: 30%; }

  /* line 249, C:/domains/Pogosov/sass/loader.sass */
  70% {
    opacity: 1;
    -o-transform: rotate(770deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 39%; }

  /* line 255, C:/domains/Pogosov/sass/loader.sass */
  75% {
    opacity: 1;
    -o-transform: rotate(900deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 70%; }

  /* line 261, C:/domains/Pogosov/sass/loader.sass */
  76% {
    opacity: 0;
    -o-transform: rotate(900deg); }

  /* line 265, C:/domains/Pogosov/sass/loader.sass */
  100% {
    opacity: 0;
    -o-transform: rotate(900deg); } }

@keyframes orbit {
  /* line 270, C:/domains/Pogosov/sass/loader.sass */
  0% {
    opacity: 1;
    z-index: 99;
    transform: rotate(180deg);
    animation-timing-function: ease-out; }

  /* line 276, C:/domains/Pogosov/sass/loader.sass */
  7% {
    opacity: 1;
    transform: rotate(300deg);
    animation-timing-function: linear;
    origin: 0%; }

  /* line 282, C:/domains/Pogosov/sass/loader.sass */
  30% {
    opacity: 1;
    transform: rotate(410deg);
    animation-timing-function: ease-in-out;
    origin: 7%; }

  /* line 288, C:/domains/Pogosov/sass/loader.sass */
  39% {
    opacity: 1;
    transform: rotate(645deg);
    animation-timing-function: linear;
    origin: 30%; }

  /* line 294, C:/domains/Pogosov/sass/loader.sass */
  70% {
    opacity: 1;
    transform: rotate(770deg);
    animation-timing-function: ease-out;
    origin: 39%; }

  /* line 300, C:/domains/Pogosov/sass/loader.sass */
  75% {
    opacity: 1;
    transform: rotate(900deg);
    animation-timing-function: ease-out;
    origin: 70%; }

  /* line 306, C:/domains/Pogosov/sass/loader.sass */
  76% {
    opacity: 0;
    transform: rotate(900deg); }

  /* line 310, C:/domains/Pogosov/sass/loader.sass */
  100% {
    opacity: 0;
    transform: rotate(900deg); } }
