/* ==============================================================

   Author: UDX
   Author URL: http://codecanyon.net/user/UDX
   Plugin: 23 Sliders - Mega Pack
   Plugin URL: http://codecanyon.net/item/x/12482338
   Version: 1.0

   ============================================================== */

body {
    background: #8260a1;
    font-family: Arial, sans-serif;
    margin: 0;
}
p {
    margin-bottom: 20px;
}
#logo {
    float: left;
    width: 100%;
    background: #303030;
    text-align: center;
}
#logo img {
    display: block;
    margin: 10px 0 0 20px;
}
.clearout {
    height: 20px;
    clear: both;
}
#flexiselDemo1,
#flexiselDemo2,
#flexiselDemo3 {
    display: none;
}
.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
}
.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}
.nbs-flexisel-inner {
    overflow: hidden;
    margin: 0 auto;
    width: 1300px;
    background: #fff;
    border-bottom: 3px solid #5a3c75;
}
.nbs-flexisel-item {
    float: left;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    position: relative;
    line-height: 0px;
    padding-top: 40px;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    positon: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100px;
    max-height: 45px;
}
/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 22px;
    height: 22px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
}
.nbs-flexisel-nav-left {
    left: 5px;
    background: url(../images/left-nav.png) no-repeat;
    height: 41px;
}
.nbs-flexisel-nav-left:hover {
    background: url(../images/left-nav-hover.png) no-repeat;
}
.nbs-flexisel-nav-right {
    right: 5px;
    background: url(../images/right-nav.png) no-repeat;
    height: 41px;
}
.nbs-flexisel-nav-right:hover {
    background: url(../images/right-nav-hover.png) no-repeat;
}
.title-box {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #C7C7C7;
    margin: 0 0 70px;
    padding: 0;
    width: 100%;
}
.title-box h2 {
    color: #303030;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 28px 0 20px;
    text-align: center;
    text-transform: uppercase;
}
.fujistu {
    background: url(../images/fujistu.png) no-repeat;
    float: left;
    height: 103px;
    width: 171px;
    background-position: center;
}
.fujistu:hover {
    background: url(../images/fujistu-hover.png) no-repeat;
    background-position: center;
}
.webex {
    background: url(../images/webex.png) no-repeat;
    float: left;
    height: 103px;
    width: 221px;
    background-position: center;
}
.webex:hover {
    background: url(../images/webex-hover.png) no-repeat;
    background-position: center;
}
.verisign {
    background: url(../images/verisign.png) no-repeat;
    float: left;
    height: 103px;
    width: 221px;
    background-position: center;
}
.verisign:hover {
    background: url(../images/verisign-hover.png) no-repeat;
    background-position: center;
}
.intuit {
    background: url(../images/intuit.png) no-repeat;
    float: left;
    height: 103px;
    width: 240px;
    background-position: center;
}
.intuit:hover {
    background: url(../images/intuit-hover.png) no-repeat;
    background-position: center;
}
.facebook {
    background: url(../images/facebook.png) no-repeat;
    float: left;
    height: 103px;
    width: 181px;
    background-position: center;
}
.facebook:hover {
    background: url(../images/facebook-hover.png) no-repeat;
    background-position: center;
}
@media only screen and (max-width: 1000px) {
    .nbs-flexisel-inner {
        float: left;
        width: 100%;
    }
}
@media only screen and (max-width: 320px) {
    .nbs-flexisel-nav-left {
        left: 10px;
    }
    .nbs-flexisel-nav-right {
        right: 10px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .nbs-flexisel-nav-left {
        left: 0px;
    }
    .nbs-flexisel-nav-right {
        right: 0px;
    }
}
@media only screen and (max-width: 1000px) {
    .nbs-flexisel-nav-left {
        left: 0px;
    }
    .nbs-flexisel-nav-right {
        right: 0px;
    }
}