/* ==============================================================

   Author: UDX
   Author URL: http://codecanyon.net/user/UDX
   Plugin: 23 Sliders - Mega Pack
   Plugin URL: http://codecanyon.net/item/x/12482338
   Version: 1.0

   ============================================================== */

:focus {
    outline: 0;
}
#slides {
    position: relative;
}
#slides .slides-container {
    display: none;
}
#slides .scrollable {
    *zoom: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}
#slides .scrollable:after {
    content: "";
    display: table;
    clear: both;
}
.slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 46%;
    width: 100%;
}
.slides-navigation a {
    position: absolute;
    display: block;
}
.slides-navigation a.prev {
    left: 0;
}
.slides-navigation a.next {
    right: 0;
}
.slides-pagination {
    position: absolute;
    z-index: 3;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.slides-pagination a {
    /*border: 2px solid #222;*/
    
    border-radius: 30px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    padding: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    /*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");*/
    
    margin: 2px;
    overflow: hidden;
    text-indent: -100%;
}
.slides-pagination a span {
    width: 12px;
    height: 12px;
    background: #ed483e;
    border-radius: 10px;
    float: left;
}
.slides-pagination a.current {} .slides-pagination a.current span {
    background: #fff;
}
.inner-container {
    /*width:1090px;*/
    
    width: 823px;
    margin: 0 auto;
}
.inner-container-starts {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    width: 960px;
    padding: 20px;
    float: left;
}
.inner-container-main {
    padding: 20px;
    float: left;
    width: 920px;
    background: #fff;
}
.container-left {
    float: left;
    width: 70%;
}
.container-right {
    float: right;
}
.inner-container img {
    height: auto !important;
    width: auto !important;
    position: inherit !important;
    margin-top: 50px;
}
.title-box {
    background: #eeeeee;
    border-bottom: 2px solid #c7c7c7;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.title-box h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    color: #303030;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    padding: 28px 0px 20px 0px;
}
#logo {
    float: left;
    width: 100%;
    background: #303030;
    text-align: center;
}
#logo img {
    display: block;
    margin: 10px 0 0 20px;
}